* {
    border-radius: 5px;
}

nav {
    background-color: rgb(17, 17, 17);
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.menu-item:hover {
    background-color: rgb(190, 27, 190);
    padding: 10px;
}

ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    text-decoration: solid;
    padding-right: 50px;
    align-items: center;
}
.welcome-text {
    font-size: 20px;
}

#hero {
    display: grid;
    grid-template-columns: auto auto;
   gap: 20px;
    margin-left: 50px;
}

/* #hero-item {
    background-color: whitesmoke;
} */

#illa {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 10px;
    margin-top: 30px;
}

#one {
    background-color: rgb(190, 27, 190);
}

.download-btn {
    background-color: rgb(190, 27, 190);
    border-radius: 5px;
    padding: 10px;
}
.download-btn:hover{
    background-color: black;
}

.app {
    margin-bottom: 20px;
}

.snow {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.well {
    width: 95%;
    height: 30%;
    padding: 20px;
}

button {
    background-color: rgb(190, 27, 190);
    color: white;
    align-items: center;
    padding: 20px;
    border: none;
}

.btn-book-now {
    margin-bottom: 40px;
    border-radius: 40px;
}

footer {
    background-color: rgb(17, 17, 17);
    width: 100%;
    color: white;
    font-size: 20px;
     margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}

.item{
margin-left: 20px;
}

.btn {
    background-color: none;
}

.link {
    display: inline;
   
}
h2{
    color: rgb(190, 27, 190);
}

.about-us-hero-section {
    height: 500px;
    background-image: url(./image/ab.jpg);
    /* background-image: url('https://img.freepik.com/free-photo/close-up-hairdresser-shop-instruments_23-2149319780.jpg?uid=R190500648&ga=GA1.1.1890414216.1740131066&semt=ais_hybrid'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-top: 30px;
}

.about-hero-text {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}
.about-us-container{
    display: grid;
    grid-template-columns: auto auto;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-us-content{
    background-color: whitesmoke;
    font-weight:normal;
    font-size: 90%;
}